
<div id="glue-cdn-utility">
    <h1>Purge Glue CDN images</h1>
    <input type="hidden" name="image_urls" id="imageUrls" value="">
    <button id="addAssetsButton" class="btn">Add images</button>

    <ul id="imageList"></ul>
    <button class="hidden btn" id="purgeButton">Purge</button>
</div>
